  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins&display=swap');

*{margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2{
  color: #002765;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.row{
  
  align-items: center;
  justify-content:space-between;
  background: #edeef0;
  border-radius: 100px;
  /* padding-left: 20px; */
  margin-bottom: 25px;
}


.input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  padding-right: 100px;
  font-weight: 14px;
}

.button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.button2{
  margin-left: 100px;
  border: none;
  outline: none;
  padding: 5px 15px;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li{
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 60px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

/* ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 9px;
  left: 20px;

} */

/* ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

ul li span:hover{
  background:#edeef0 ;
} */

